*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* transition
transition-delay
transition-duration
transition-property
transition-timing-function */

.div1{

    background: green;
    height: 50px;
    width: 400px;
    margin: 0 auto;
    transition: height 4s, width 4s, border-radius 4s;
}
.div1:hover{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.div2{
    background: yellow;
    height: 50px;
    transition: transform 2s;
}
.div2:hover{
  
   transform: rotateX(180deg);
}
.div3{
    background: red;
    height: 50px;
}
.div4{
    background: blue;
    height: 50px;
}
.div5{
    background: pink;
    height: 50px;
}
:active a:active Seleciona o link ativo
::after p::after Insere algo após o conteúdo de cada elemento <p>
::before p::before Insere algo antes do conteúdo de cada elemento <p>
:checked input:checked Seleciona cada elemento <input> marcado
:default input:default Seleciona o elemento padrão <input>
:disabled input:disabled Seleciona cada elemento <input> desabilitado
:empty p:empty Seleciona cada elemento <p> que não tem filhos (incluindo nós de texto)
:enabled input:enabled Seleciona cada elemento <input> habilitado
:first-child p:first-child Seleciona cada elemento <p> que é o primeiro filho de seu pai
::first-letter p::first-letter Seleciona a primeira letra de cada elemento <p>
::first-line p::first-line Seleciona a primeira linha de cada elemento <p>
:first-of-type p:first-of-type Seleciona cada elemento <p> que é o primeiro elemento <p> de seu pai
:focus input:focus Seleciona o elemento de entrada que tem foco
:fullscreen :fullscreen Seleciona o elemento que está no modo de tela cheia
:hover a:hover Seleciona links ao passar o mouse
:in-range input:in-range Seleciona elementos de entrada com um valor dentro de um intervalo especificado
:indeterminate input:indeterminate Seleciona elementos de entrada que estão em um estado indeterminado
:invalid input:invalid Seleciona todos os elementos de entrada com um valor inválido
:lang(language) p:lang(it) Seleciona cada elemento <p> com um atributo lang igual a "it" (italiano)
:last-child p:last-child Seleciona cada elemento <p> que é o último filho de seu pai
:last-of-type p:last-of-type Seleciona cada elemento <p> que é o último elemento <p> de seu pai
:link a:link Seleciona todos os links não visitados
::marker ::marker Seleciona os marcadores dos itens da lista
:not(selector) :not(p) Seleciona todo elemento que não é um elemento <p>
:nth-child(n) p:nth-child(2) Seleciona cada elemento <p> que é o segundo filho de seu pai
:nth-last-child(n) p:nth-last-child(2) Seleciona cada elemento <p> que é o segundo filho de seu pai, contando a partir do último filho
:nth-last-of-type(n) p:nth-last-of-type(2) Seleciona cada elemento <p> que é o segundo elemento <p> de seu pai, contando a partir do último filho
:nth-of-type(n) p:nth-of-type(2) Seleciona cada elemento <p> que é o segundo elemento <p> de seu pai
:only-of-type p:only-of-type Seleciona cada elemento <p> que é o único elemento <p> de seu pai
:only-child p:only-child Seleciona cada elemento <p> que é o único filho de seu pai
:opcional input:opcional Seleciona elementos de entrada sem atributo "obrigatório"
:out-of-range input:out-of-range Seleciona elementos de entrada com um valor fora de um intervalo especificado
::placeholder input::placeholder Seleciona elementos de entrada com o atributo "placeholder" especificado
:read-only input:read-only Seleciona elementos de entrada com o atributo "readonly" especificado
:read-write input:read-write Seleciona elementos de entrada com o atributo "readonly" NÃO especificado
:required input:required Seleciona elementos de entrada com o atributo "required" especificado
:root :root Seleciona o elemento raiz do documento
::selection ::selection Seleciona a parte de um elemento que é selecionado por um usuário
:target #news:target Seleciona o elemento #news ativo atual (clicado em um URL contendo esse nome de âncora)
:valid input:valid Seleciona todos os elementos de entrada com um valor válido
:visited a:visited Seleciona todos os links visitados