
.exemplo{
    background: grey;
    color: black;
    height: 50px;
    overflow: auto; /* precisa definir uma altura*/
}
body{
    overflow-y: hidden; /* desativa a barra de rolagem na vertical*/
}
.container{
    border: 1px solid black;
    overflow: auto;
    background: lightblue;
}
.container img{
    float:left; /* Imagem fica flutuante dentro do elemento pai, com o auxilio do overflow auto o pai inseriu a imagem por completo(as bordas ficaram ao redor da imagem*/
    margin-right: 20px;
    margin-bottom: 10px;
}
h3{
    clear:both; /*cancela o float*/
}
ul{
    background: black;
    padding: 20px;

    
}
li{
   display: inline-block; 
}
li a{
    
    color: white;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    background: grey;
    color:yellowgreen;
  
}
.login{
    float: right;
    border: 1px solid yellow;
}
.login a:hover{
    background: red;
    color: black;
    font-weight: 800;

}