*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.borda{
 border: 1px solid royalblue;

}

.borda1{
    border: 5px solid slateblue;
}

#link{
    position: relative;
    left: 50%;
    display: inline-flex;
    text-decoration: none;
    padding: 1rem 1rem;
    background: grey;
    border-radius: 0.8rem;
    font-weight: 800;
    text-shadow: 0px 0px 9px cyan ;
    
}
#p1 {

display: block;

}
#p1:hover {
    display: none;
}
#li1{
    background : blue;
}
#li2{
    background : green;
    visibility:hidden;
}

#li3{
    background : yellow;
}
li{
    
    display: inline-flex;
    width: 33%;
    height: 5rem;
}
.triangulo{

    width: 0px;
    height: 0px;
    color: cadetblue;
    background: transparent;
    border: 0px solid transparent;
    border-top: 200px solid rgb(184, 21, 21);
    border-left: 200px solid black;
    border-right: 200px solid blue;
    border-bottom: 200px solid yellow;
   

}
